@charset"UTF-8";
body{background-color:#F0FFFF
}

#gnav ul {
  overflow: left;
  width: 156px;
  border-right: white 1px solid;
  list-style-type:none;
}

#gnav li:first-child{
  border-left: white 1px solid;
}
